  .dropdown-wrap{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }
  .dropdown-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    /* margin: 20px 0 0 20px; */
    padding: 10px 20px;
    color: rgb(250, 229, 215);
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  .primary{
    background-color:#0d6efd;
  }
  .secondary{
    background-color: #6c757d;
  }
  .success{
    background-color: #198754;
  }
  .info{
    background-color: #0dcaf0;
  }
  .warning{
    background-color: #ffc107;
  }
  .danger{
    background-color: #dc3545;
  }
  
  .dropdown-menu{
    position: absolute;
    margin: 0;
    top: 100%;
    border: black 1px solid;
  }
  .dropdown-menu>li{
    padding: 0;
    list-style-type: none;
  }
  
  .dropdown-menu>li>a{
    text-decoration: none;
  }
  .dropdown-menu>li:hover{
    background-color: #b6c3cf;
  }